<body {
    font-family: Arial, Helvetica, sans-serif;
    background: red;
}

#content {
    width: 900px;
    margin: 10x auto;
    padding: 2px 2px;
    background: gold;
    border: 200px solid blue;
}

h1 {
	text-align: center;
}

p {
	color: blue;
	font-weight: bold;
	text-align: center;
}

label {
    display: block;
    width: 40em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 100px;
}

#futureValue {
    color: orange;
}

br {
    clear: left;
}